html {
    text-align: center;
    background: linear-gradient(
        to right,
        white 0%,
        #8d02b3 25%,
        white 50%,
        #8d02b3 75%,
        white 100%
    );
}

.topnav {
    overflow: hidden;
}

.checkout {
    width: 25px;
    height: 25px;
}

.topnav a {
    color: black;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    border: 2px solid black;
    border-bottom: 2px solid black;
    color: black;
}

.topnav a.active {
    color: black;
}

.btn {
    font-size: 17.5px;
    border-color: transparent;
    border-radius: 25px;
    background-color: white;
    color: black;
}

.btn:hover {
    background-color: white;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

img {
    width: 150px;
    height: 200px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    border-radius: 25px;
    align-self: center;
    background: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown:hover .dropbtn {
    background-color: white;
}

.dropdown-content {
    border-radius: 15px;
    display: none;
    position: relative;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropup {
    position: relative;
    display: inline-block;
}

.dropup-content {
    display: none;
    position: relative;
    background-color: white;
    min-width: 160px;
    bottom: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropup-content a:hover {
    background-color: white;
}

.dropup:hover .dropup-content {
    display: block;
}

.dropup:hover .dropbtn {
    background-color: white;
}

.splitbtn {
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
}

.splitdropdwn {
    position: absolute;
    display: inline-block;
    
}

.splitdropdwn-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 50px;
    z-index: 1;
    max-height: 250px;
    overflow: auto;
}

.splitdropdwn-content option {
    color: black;
    text-decoration: none; display: block;
}

.splitdropdwn-content option:hover {
    background-color: whitesmoke;
}

.splitdropdwn:hover .splitdropdwn-content {
    display: block;
}

.splitbtn:hover, .splitdropdwn:hover .splitbtn {
    background-color: slategray;
}
